<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<meta http-equiv="refresh" content="5">
		<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
		<style>body { font-family: 'Play', sans-serif; }</style>
	</head>
	<body>
		<h1>{{.Title}}{{if .Zzz}} Zzz&hellip;{{end}}</h1>
		<h2>Classes</h2>
		<table>
		<tr>
			<td><a href="/">All</a></td>
			<td>{{.Total}}</td>
		</tr>
		{{range .Class}}
		<tr>
			<td><a href="/{{.Class}}">{{.Class}}</a></td>
			<td>{{.Time}}</td>
		</tr>
		{{end}}
		</table>`
		<h2>Individually</h2>
		<table>
		{{range .Tracks}}
		<tr>
			<td><a href="/{{.Class}}">{{.Class}}</a></td>
			<td>{{.Name}}</td>
			<td>{{.Time}}</td>
		</tr>
		{{end}}
		</table>
	</body>
</html>

