<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<meta http-equiv="refresh" content="60">
		<link href='http://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<style>
			body {
				font-family: 'Play', sans-serif;
				margin: 2% 6%;
			}
			aside {
				float: right;
				border: thin solid #428a42;
				background: #efffef;
				padding: 1em;
				margin-left: 1em;
			}
			.odd {
				background: #efefef;
			}
			#total {
				border-top: thin solid black;
			}
			a {
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<h1>{{.Title}}{{if .Zzz}} Zzz&hellip;{{end}}</h1>
		<aside>
		<h3>Gross time</h3>
		<table>
		{{range .Classes}}
		<tr>
			<td><a href="/{{.Class}}">{{.Class}}</a></td>
			<td>{{.Spent}}</td>
		</tr>
		{{end}}
		<tr>
			<td><a href="/">&Sigma;</a></td>
			<td id="total">{{.Total}}</td>
		</tr>
		</table>
		<h3>Functions</h3>
		<ul>
		<li><a href="/dump.json">Dump</a></li>
		<li><a href="/reset">Reset</a> (take care!)</li>
		</ul>
		</aside>
		<table>
		<tr>
			<th>Class</th>
			<th>Name</th>
			<th>Duration</th>
		</tr>
		{{range .Records}}
		<tr {{if .Odd}}class="odd"{{end}}>
			<td><a href="/{{.Class}}">{{.Class}}</a></td>
			<td>{{.Name}}</td>
			<td>{{.Spent}}</td>
		</tr>
		{{end}}
		</table>
	</body>
</html>

