body {
	font-family: 'Helvetica', sans-serif;
	font-size: smaller;
	margin: 2% 6%;
}
aside {
	float: right;
}
#box {
	border: thin solid #428a42;
	background: #efffef;
	padding: 1em;
	margin-left: 1em;
}
#records tr:nth-child(even) {
	background: #efefef;
}
#records td:nth-child(2) {
	width: 100%;
	word-break: break-all;
}
#records td:nth-child(3) {
	text-align: right;
}
#total {
	border-top: thin solid black;
}
#classes td:nth-child(2) {
	text-align: right;
}
a {
	text-decoration: none;
	color: #6c71ce;
}
ul {
	list-style-type: none;
}
td {
	padding: 0 1ex;
}
